{% extends 'base.html' %}

{% block title %}Challenges{% endblock %}

{% block content %}
<h2>Daily Challenges</h2>
<ul>
{% for challenge in challenges %}
    <li>
        {{ challenge.title }} - {{ challenge.description }} ({{ challenge.xp_reward }} XP)
        {% for prog in progress %}
            {% if prog.challenge.id == challenge.id and prog.completed %}
                <span>Completed</span>
            {% else %}
                <a href="{% url 'complete_challenge' challenge.id %}">Complete</a>
            {% endif %}
        {% endfor %}
    </li>
{% endfor %}
</ul>
{% endblock %}